---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="实践，总结，模仿"
	pubDate={new Date()}
	heroImage="/hero-3.jpg"
>
<p>这是我的 <a href="https://r.easycv.cn/zwphee">在线简历</a></p>
</Layout>
